{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  
  "rules": {
    "semi": 0,
    "space-before-function-paren": 0,
    "object-curly-spacing": 0,
    "comma-dangle": 0
  },
  "globals": {
    "require": true,
    "process": true,
    "module": true
  },
  "parserOptions": {
  //  "ecmaVersion": 2020
  },
  "extends": "standard"
}